.info-main {
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 140px;
    margin-right: 140px;
}

.info-main p {
    text-align: left;
}