video {
    max-width: 1505px;
}

.black {
    background-color: black;
    height: 100px;
    margin-top: 0px;
}

.video-main {
    background-color: black;
}

.coke-image div img {
    margin-top: 0px;
    padding-top: 0px;
}

.image-holder {
    display: flex;
    gap: 300px;
}

.btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    height: 70px;
    width: 120px;
    border-radius: 15px;
    font-weight: 500;
    font-size: large;
    color: black;
    background-color: white;
    border: 2px;
}

.btn:hover {
    background-color: black;
    color: white;
}